@page "/movies/details"
@using Microsoft.EntityFrameworkCore
@using BlazorApp.Models
@inject IDbContextFactory<BlazorApp.Data.BlazorAppContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Details</PageTitle>

<h1>Detalles</h1>

<div>
    <h2>Peliculas</h2>
    <hr />
    @if (movie is null)
    {
        <p><em>Loading...</em></p>
    }
    else {
        <dl class="row">
            <dt class="col-sm-2">Titulo</dt>
            <dd class="col-sm-10">@movie.Title</dd>
            <dt class="col-sm-2">Fecha de publicación</dt>
            <dd class="col-sm-10">@movie.ReleaseDate</dd>
            <dt class="col-sm-2">Genero</dt>
            <dd class="col-sm-10">@movie.Genre</dd>
            <dt class="col-sm-2">Precio</dt>
            <dd class="col-sm-10">@movie.Price</dd>
        </dl>
        <div>
            <a href="@($"/movies/edit?id={movie.Id}")" class="btn btn-warning">Editar</a> |
            <a href="/movies" class="btn btn-secondary ms-2">Regresar</a>
        </div>
    }
</div>

@code {
    private Movie? movie;

    [SupplyParameterFromQuery]
    private int Id { get; set; }

    protected override async Task OnInitializedAsync()
    {
        using var context = DbFactory.CreateDbContext();
        movie = await context.Movie.FirstOrDefaultAsync(m => m.Id == Id);

        if (movie is null)
        {
            NavigationManager.NavigateTo("notfound");
        }
    }
}
